# Compiled Object files
*.slo
*.lo
*.o
*.obj
 
# Precompiled Headers
*.gch
*.pch
 
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
 
# Fortran module files
*.mod
*.smod
 
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
 
# Executables
*.exe
*.out
*.app
 
# Emacs tmp files
*~
*#*#
 
# Ninja tmp ignore
*.ninja_deps
*.ninja_log
 
# dirs
# //**
/proj.android-studio/**
/proj.android/**
/proj.ios_mac/**
/proj.tizen/**
/proj.win10/**
/proj.win32/**
/proj.linux/**
/proj.win8.1-universal/**
/bin/**